body {
  font-size: 10px;
  background-color: white;
  display: block;
  background-color: #DCDCDC;
  margin: 0 auto;
  width: 940px;
}

*, *:before, *:after{
    box-sizing: border-box;
}

img{
  width: 100%;
  padding-top: 3%;
}

.preview{
  position: relative;
}

h2{
  font-family: serif;
  font-size: 130%;
  position: absolute;
    top: 12%;
    left: 6%;
}

h1{
    text-align: center;
    padding: 5%;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
    color: #383838;
}

.title{
    padding-top: 9%;
}

img{
    margin: 1%;
    width: 48%;
    float: top;
}

.site-header{
  padding: 40px;
  text-align: center;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}
